PROJECT_NAME="Project Drishti API"
DATABASE_URL="sqlite:///./drishti.db"
SECRET_KEY="drishti_super_secret_hackathon_key_replace_me_in_prod"
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=60
BACKEND_CORS_ORIGINS='["*"]'
